.starrate {   
        font-size: 2em;
        .min_rate
        {
            font-size: 0.6em;
            margin-bottom:0px;
        }
        .search
        {
         position: relative;
         top:18px   
        }
}